@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@font-face {
  font-family: "Alpha";
  src: url("fonts/Alpha.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Alpha";
  src: url("fonts/Alpha-Medium.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Alpha";
  src: url("fonts/Alpha-Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Alpha";
  src: url("fonts/Alpha-Inline.otf");
  font-weight: 900;
}
body {
  background: #131313;
  background-image: url('data:image/svg+xml,%3Csvg width="72" height="72" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%23EFEBE9" fill-opacity="0.1" fill-rule="evenodd"/%3E%3C/svg%3E');
  margin: 0px;
}

.bannerBacking {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  background: #131313;
}

.banner {
  width: inherit;
  height: inherit;
}

.bottomBacking {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #131313;
}

.buttonGroup {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: space-between;
  width: 70%;
  min-width: 350px;
  margin: auto;
  height: inherit;
}

.buttonGroup > .btn {
  width: 100px;
  height: 0px;
}

.logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 60px;
}

.logo > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  font-family: Alpha;
  font-weight: 100;
  border: none;
  background-color: inherit;
  cursor: pointer;
  perspective: 500px;
  color: white;
  transform: rotate3d(0, 0, 0, 0deg);
  font-weight: bold;
  top: 40%;
  transform: translateY(-40%);
  transition: 0.3s;
  text-decoration: none;
}

/* On mouse-over */
.btn:hover {
  color: #8fff9a;
  transform: rotate3d(-1, -1, 0.2, 30deg);
  font-weight: 100;
}

.gameGroup {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  max-width: 1300px;
  top: 150px;
  height: 400px;
  justify-content: space-evenly;
  padding: 0;
  border: 0;
  margin: auto;
}

.game {
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  transform: translate(0, 15%);
  border-color: rgba(0, 0, 0, 0);
  padding: 0px;
  border: 0px;
}

.icon {
  margin: auto;
  padding: auto;
  width: 100%;
  perspective: 400px;
  height: 100%;
  transition: 0.3s;
  transform: rotate3d(0, 0, 0, 0deg);
  pointer-events: none;
}

.gameInfo {
  bottom: 0px;
  height: 20px;
  text-align: center;
  margin-top: 20px;
  vertical-align: middle;
  font-size: 16px;
  font-family: Raleway;
  color: white;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}

@media (min-width: 601px) {
  .game:hover .innerIcon {
    -webkit-clip-path: inset(8% round 50%);
    -moz-clip-path: inset(8% round 50%);
    clip-path: inset(8% round 50%);
    transform: scale(1.25) rotate3d(1, 0.5, 0, 30deg);
  }
  .game:hover .outerIcon {
    transform: translateZ(100px) rotate3d(-0.5, 1.5, 0, -30deg) scale(1);
  }
  .game:hover .gameInfo {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .bannerBacking {
    height: 75px;
  }
  .btn {
    font-size: 16px;
  }
  .game:active .innerIcon {
    -webkit-clip-path: inset(8% round 50%);
    -moz-clip-path: inset(8% round 50%);
    clip-path: inset(8% round 50%);
    transform: scale(1.25) rotate3d(1, 0.5, 0, 30deg);
  }
  .game:active .outerIcon {
    transform: translateZ(100px) rotate3d(-0.5, 1.5, 0, -30deg) scale(1);
  }
  .gameInfo {
    opacity: 1;
    font-size: 12px;
  }
}
.innerIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: inset(0px round 20%);
  -moz-clip-path: inset(0px round 20%);
  clip-path: inset(0px round 20%);
  transition: 0.3s;
  pointer-events: none;
}

.outerIcon {
  position: absolute;
  top: 0;
  transform: rotate3d(0, 0, 0, 0deg);
  transition: 0.3s;
  pointer-events: none;
  clip-path: none;
}

.outerIcon > img {
  width: 100%;
  height: 100%;
}

.innerIcon > img {
  width: 100%;
  height: 100%;
}

@keyframes buttonFade {
  from {
    color: white;
    transform: rotate3d(0, 0, 0, 0deg);
    font-weight: bold;
  }
  to {
    color: #8fff9a;
    transform: rotate3d(0.75, -1, 0, 20deg);
    font-weight: 100;
  }
}

/*# sourceMappingURL=style.css.map */
