@font-face {
  font-family: "Alpha";
  src: url("fonts/Alpha.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Alpha";
  src: url("fonts/Alpha-Medium.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Alpha";
  src: url("fonts/Alpha-Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Alpha";
  src: url("fonts/Alpha-Inline.otf");
  font-weight: 900;
}
body {
  background: #131313;
  background-image: url('data:image/svg+xml,%3Csvg width="72" height="72" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="#EFEBE9" fill-opacity="0.1" fill-rule="evenodd"/%3E%3C/svg%3E');
  margin: 0px;
}

.bannerBacking {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  animation-name: fadeOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.bannerActive {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.banner {
  width: inherit;
  height: inherit;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.logo {
  position: fixed;
  width: 150px;
  height: 100px;
  margin: 0px 15px;
  padding: 0px;
}

.buttonGroup {
  position: relative;
  float: right;
  width: 60%;
  margin: 35px 0px;
  height: 50px;
}

.buttonGroup > .btn {
  width: calc(95% / 4);
  height: inherit;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
  font-size: 24px;
  font-family: Alpha;
  font-weight: 100;
  border: none;
  background-color: inherit;
  cursor: pointer;
  perspective: 500px;
  perspective-origin: center;
  color: white;
  transform: rotate3d(0, 0, 0, 0deg);
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

/* On mouse-over */
.btn:hover {
  color: #8fff9a;
  transform: rotate3d(0.75, -1, 0, 20deg);
  font-weight: 100;
}

.gameGroup {
  position: fixed;
  width: 100%;
  height: 100%;
}

.gameGroup > .game {
  width: calc(99% / 3);
  height: 200px;
  display: inline-block;
  transform: translate(0, 50%);
}

.icon {
  margin: auto;
  padding: auto;
  width: 200px;
  height: 200px;
  perspective: 400px;
  transform: rotate3d(0, 0, 0, 0deg);
}

.innerIcon {
  position: absolute;
  -webkit-clip-path: inset(0px round 36px);
  -moz-clip-path: inset(0px round 36px);
  clip-path: inset(0px round 36px);
  transition: 1s;
}

.innerIcon:hover {
  -webkit-clip-path: inset(5px round 24px);
  -moz-clip-path: inset(5px round 24px);
  clip-path: inset(5px round 24px);
  transform: scale(1.1);
}

.outerIcon {
  position: absolute;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    background: #131313;
  }
  to {
    background: #fff;
  }
}
@keyframes fadeOut {
  from {
    background: #fff;
  }
  to {
    background: #131313;
  }
}
@keyframes buttonFade {
  from {
    color: white;
    transform: rotate3d(0, 0, 0, 0deg);
    font-weight: bold;
  }
  to {
    color: #8fff9a;
    transform: rotate3d(0.75, -1, 0, 20deg);
    font-weight: 100;
  }
}

/*# sourceMappingURL=style.css.map */
